final n8n backend
{
  "name": "yene hasab updated v4",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst name = $input.first().json.body.name;\nconst email = $input.first().json.body.email;\nconst password = $input.first().json.body.password;\n\nconst hash = crypto.createHash('sha256')\n  .update(password)\n  .digest('hex');\n\nreturn [{\n  name,\n  email,\n  password_hash: hash\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a0af3aab-05f8-49f4-831f-545366657d6b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "password_hash",
              "fieldValue": "={{ $json.password_hash }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9d05f93f-f3d8-417e-9035-7805fdce9a2f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{ \n  \"status\": \"user created\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "35c2bdb4-4a07-4e29-bdcc-9a4e6d32a112",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "726c64aa-3c8c-4250-b6cf-f78f14a7ca9a",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"User not found\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        464
      ],
      "id": "a8e2fdb0-9af9-4c26-8223-a3bc452e9337",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get password from Webhook1\nconst password = $('login').first().json.body.password;\n\n// Convert to SHA256 hash\nconst hash = crypto.createHash('sha256')\n  .update(password)\n  .digest('hex');\n\n// Return only the hashed password\nreturn [{\n  password_hash: hash\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        304
      ],
      "id": "d14b3cfc-6c38-4255-9406-2c08ec63fa6d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0919c5c4-b7ec-4cab-b6cf-e88cebbd902e",
              "leftValue": "={{ $json.password_hash }}",
              "rightValue": "={{ $('Get a row').item.json.password_hash }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "57cf46ea-c388-497f-852b-8f910c990637",
              "leftValue": "={{ $('Get a row').item.json.email }}",
              "rightValue": "={{ $('login').item.json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        448
      ],
      "id": "73aeff09-e654-4caa-b2a9-09d44b2e34ef",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Login successful\",\n  \"token\": \"{{ $json.token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        320
      ],
      "id": "ff9ca691-4578-48dc-ab4b-1941bf81220f",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74358e6d-550a-40fa-8b1d-197f46b97b63",
              "leftValue": "={{ $('Get a row').item.json.email }}",
              "rightValue": "={{ $('login').item.json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "00033f1e-98fe-4194-8d4e-bd0af2da0ede",
              "leftValue": "={{ $json.password_hash }}",
              "rightValue": "={{ $('Get a row').item.json.password_hash }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        304
      ],
      "id": "1bd3e9cd-4d46-4f41-aae8-6e090f7c58bb",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1088,
        208
      ],
      "id": "f33308f2-c867-4236-bad0-b0feb1ee4ee7",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e4dbcf2-556b-45b0-aed2-1f9c6634058b",
              "leftValue": "={{ $('Get a row').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        304
      ],
      "id": "455dfb8c-bba0-43ef-8bf9-5669bbd0192e",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1712,
        1264
      ],
      "id": "aef850b1-9ad9-482c-a85f-078729e4241c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "tableId": "complaints",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Edit Fields').item.json.body.title }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Edit Fields').item.json.status }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $('Edit Fields').item.json.body.description }}"
            },
            {
              "fieldId": "student_id",
              "fieldValue": "={{ $('Edit Fields').item.json.user_id }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $('Edit Fields').item.json.body.category }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1472,
        1264
      ],
      "id": "3724d0b2-6bdd-4e2c-a930-e2f39d079c3d",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get full user from database node\nconst user = $('Get a row').first().json;\n\n// JWT Header\nconst header = Buffer.from(JSON.stringify({\n  alg: \"HS256\",\n  typ: \"JWT\"\n})).toString(\"base64url\");\n\n// JWT Payload\nconst payload = Buffer.from(JSON.stringify({\n  id: user.id,\n  email: user.email,\n  role: user.role,\n  exp: Math.floor(Date.now() / 1000) + (60 * 60)\n})).toString(\"base64url\");\n\n// Signature\nconst signature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\nconst token = `${header}.${payload}.${signature}`;\n\nreturn [{ token }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        320
      ],
      "id": "c482c714-665d-4bad-b0d3-9c0be2864f54",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get token from header\nconst authHeader = $json.headers.authorization;\n\nif (!authHeader) {\n  throw new Error(\"No token provided\");\n}\n\n// Remove \"Bearer \"\nconst token = authHeader.split(\" \")[1];\n\n// Split token into parts\nconst [header, payload, signature] = token.split(\".\");\n\n// Recreate expected signature\nconst expectedSignature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\n// Check signature\nif (signature !== expectedSignature) {\n  throw new Error(\"Invalid token\");\n}\n\n// Decode payload\nconst decodedPayload = JSON.parse(\n  Buffer.from(payload, \"base64url\").toString()\n);\n\n// Check expiration\nif (decodedPayload.exp < Math.floor(Date.now() / 1000)) {\n  throw new Error(\"Token expired\");\n}\n\n// DEBUG OUTPUT\nconsole.log(\"Decoded Payload:\", decodedPayload);\n\n// Return both debug info and user_id\nreturn [{\n  user_id: decodedPayload.id,\n \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1008
      ],
      "id": "9e0ba178-4e37-4ff8-8ba4-a606c1736534",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8c92357-1db6-4e26-bc1d-e968c24c933a",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "c0b3bd86-f7bf-4815-a58e-b9d7359f4c1f",
              "name": "body.title",
              "value": "={{ $('complain sender').item.json.body.Title }}",
              "type": "string"
            },
            {
              "id": "58c68e29-9626-4829-b28b-de99ce528a85",
              "name": "body.description",
              "value": "={{ $('complain sender').item.json.body.description }}",
              "type": "string"
            },
            {
              "id": "9cc70c4d-db6e-458e-9f13-37b1b9fecd8c",
              "name": "body.category",
              "value": "={{ $('complain sender').item.json.body.catagory }}",
              "type": "string"
            },
            {
              "id": "196f873c-712c-461b-970f-9dcaf00bc8a1",
              "name": "=status",
              "value": "unseen",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        1008
      ],
      "id": "005c044e-322e-4d79-9311-8a0cf8ba6b1a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "# signin and signup phase",
        "height": 816,
        "width": 2208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -208
      ],
      "id": "b6c66338-7549-4b37-8dfa-dbf798372fa1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        1632
      ],
      "id": "11e1cba1-3205-48f1-90fc-a2c9e99fb854",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst authHeader = $json.headers.authorization;\n\nif (!authHeader) {\n  return [{\n    error: true,\n    message: \"No token provided\",\n    statusCode: 401\n  }];\n}\n\nconst token = authHeader.split(\" \")[1];\n\nconst [header, payload, signature] = token.split(\".\");\n\nconst expectedSignature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\nif (signature !== expectedSignature) {\n  return [{\n    error: true,\n    message: \"Invalid token\",\n    statusCode: 401\n  }];\n}\n\nconst decodedPayload = JSON.parse(\n  Buffer.from(payload, \"base64url\").toString()\n);\n\nif (decodedPayload.exp < Math.floor(Date.now() / 1000)) {\n  return [{\n    error: true,\n    message: \"Token expired\",\n    statusCode: 401\n  }];\n}\n\nreturn [{\n  user_id: decodedPayload.id,\n  statusCode: 200\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1632
      ],
      "id": "0ced8a2e-e6a5-40aa-a8a1-a9a33e853309",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "complaints",
        "filters": {
          "conditions": [
            {
              "keyName": "student_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        1632
      ],
      "id": "d80027a2-3ee7-4ff0-8c27-93b4a8da8e03",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const complaints = $input.all().map(item => {\n  const c = item.json;\n\n  return {\n    id: c.id,\n    title: c.title,\n    description: c.description,\n    category: c.category,\n    status: c.status,\n    created_at: c.created_at,\n    attachment_url: c.attachment_url\n  };\n});\n\nreturn [{\n  success: true,\n  complaints\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        1632
      ],
      "id": "d64ea92a-e501-4e4f-8a58-f3459730416b",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d2749077-e843-4140-91d0-d89881be0349",
      "name": "signup",
      "webhookId": "418ef687-e638-46a4-b479-8ec204c9d595"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "id": "bae29cb7-29ff-4dc9-a424-61825dc8f292",
      "name": "login",
      "webhookId": "75021219-c37b-49ff-8dbe-4ffa6599ba5a"
    },
    {
      "parameters": {
        "path": "my-complaints",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        1632
      ],
      "id": "831372ea-1db4-49b0-90df-3764264d2386",
      "name": "my complain reminder",
      "webhookId": "ae7a29d4-2b6b-42d1-a953-c45020def872"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst authHeader = $json.headers.authorization;\n\nif (!authHeader) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"No token\"\n      }\n    }\n  ];\n}\n\nconst token = authHeader.split(\" \")[1];\nconst [header, payload, signature] = token.split(\".\");\n\nconst expectedSignature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\nif (signature !== expectedSignature) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Invalid token\"\n      }\n    }\n  ];\n}\n\nconst decoded = JSON.parse(\n  Buffer.from(payload, \"base64url\").toString()\n);\n\nif (decoded.exp < Math.floor(Date.now() / 1000)) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Token expired\"\n      }\n    }\n  ];\n}\n\nif (decoded.role !== \"admin\") {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Forbidden\"\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      success: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2224
      ],
      "id": "dc9c2971-8817-47e0-86e3-80e43d8840e4",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "complaints"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        2096
      ],
      "id": "4f35e3d1-a718-4243-b9f7-a4c84d2279b0",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const complaints = $input.all().map(i => i.json);\nreturn [{ success: true, complaints }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        2096
      ],
      "id": "53391db1-05fe-451a-96a8-039f8de9212f",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1424,
        2096
      ],
      "id": "17d6b235-a4bd-4f0a-b66c-fd4bcb6e928c",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "content": "# student complaint sender and status tracker",
        "height": 1136,
        "width": 2032
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        736
      ],
      "id": "5209185d-149e-4668-af19-16666db441d1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0a363a8-b1bf-4b92-a420-c17d49d97766",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        2224
      ],
      "id": "2f0a98a7-4df4-430f-b6f9-7770875026c1",
      "name": "If3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        2464
      ],
      "id": "b041f14e-1295-422a-afbb-51d48b63fbda",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst authHeader = $json.headers.authorization;\n\nif (!authHeader) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"No token\"\n      }\n    }\n  ];\n}\n\nconst token = authHeader.split(\" \")[1];\nconst [header, payload, signature] = token.split(\".\");\n\nconst expectedSignature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\nif (signature !== expectedSignature) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Invalid token\"\n      }\n    }\n  ];\n}\n\nconst decoded = JSON.parse(\n  Buffer.from(payload, \"base64url\").toString()\n);\n\nif (decoded.exp < Math.floor(Date.now() / 1000)) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Token expired\"\n      }\n    }\n  ];\n}\n\nif (decoded.role !== \"admin\") {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Forbidden\"\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      success: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2800
      ],
      "id": "24871201-b25f-4ff5-aee1-5c88c8f51567",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0a363a8-b1bf-4b92-a420-c17d49d97766",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        2800
      ],
      "id": "09813fed-5ba5-4dff-8d10-10f1846940c9",
      "name": "If4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        3040
      ],
      "id": "57ec6c8c-e078-4d23-9764-c5cf1ec8aba6",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "jsCode": "const complaintId = $('update compliant').first().json.body.id;\nconst newStatus = $('update compliant').first().json.body.status;\n\nif (!complaintId || !newStatus) {\n  return [{\n    json: {\n      success: false,\n      message: \"ID and status required\"\n    }\n  }];\n}\n\nconst allowed = [\"unseen\", \"open\", \"in_progress\", \"resolved\", \"rejected\"];\n\nif (!allowed.includes(newStatus)) {\n  return [{\n    json: {\n      success: false,\n      message: \"Invalid status\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    complaintId,\n    newStatus\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        2704
      ],
      "id": "2da78ba1-97eb-40c2-8c55-a962bd199cbe",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "complaints",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.complaintId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.newStatus }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        2704
      ],
      "id": "443113c6-04f7-434f-b562-375fba6a71b9",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1536,
        2704
      ],
      "id": "360c32b3-ee82-489b-8896-74be93ae3261",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2048,
        864
      ],
      "id": "afb1548a-28d6-4e1d-b094-6e4b2462085d",
      "name": "Webhook1",
      "webhookId": "e24a9758-53eb-4007-87ba-8e35590321af"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an AI assistant for ASTU Smart Complaint System.\n\nYou help students with:\n\nHow to submit complaints\n\nChecking complaint status\n\nExplaining complaint categories\n\nGiving general campus support guidance\n\nBe clear and helpful."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2256,
        864
      ],
      "id": "21937b39-e93c-48b4-a15b-c8119b53ba01",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2416,
        1088
      ],
      "id": "3dc9d372-14eb-425d-9c3c-0246c1b69cd2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Egb1PO9m7AMR4Rql",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2624,
        864
      ],
      "id": "84023023-64d8-458c-bbdd-9f273a08f501",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=test session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2544,
        1104
      ],
      "id": "fc919a28-b2ee-4f9d-a1ea-68fe2cdaeba5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# admin complaint workflow",
        "height": 1344,
        "width": 2032
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        1984
      ],
      "id": "fe2a72f9-5ba5-42ba-959d-4c1aba5d49d6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "#  chatbot",
        "height": 560,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        736
      ],
      "id": "46e05397-dc40-40a0-950d-5b7bf273783b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "compliant status update",
        "message": "=your request is {{ $('Update a row').item.json.status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        3040
      ],
      "id": "921cad1d-cdf6-48af-a5ea-b08d49e4a4b9",
      "name": "Send a message",
      "webhookId": "5c8cda82-98bb-4b3d-8846-2b8767437889",
      "credentials": {
        "gmailOAuth2": {
          "id": "MwYhkNIkyUF9PsTG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        2912
      ],
      "id": "744f3b22-97ac-404b-9e2a-a95d128c8225",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "/admin/complaints",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        2224
      ],
      "id": "d175d62f-a08b-42bb-981a-74956e1d7a80",
      "name": "admin compliants",
      "webhookId": "cb8e0f87-b086-42e4-b919-0c8072316ecf"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "admin/update-complaint",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        2800
      ],
      "id": "0198a5e1-f343-479c-a0ff-b914d23c9008",
      "name": "update compliant",
      "webhookId": "7c0ec926-7f91-449d-9260-d16009f58014"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-complaint",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        1008
      ],
      "id": "90607e99-46e2-4910-8ee2-472169adb50a",
      "name": "complain sender",
      "webhookId": "9176c8a4-054e-4b94-adea-ecee2a6c8b75"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "complaints",
        "filters": {
          "conditions": [
            {
              "keyName": "student_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        1008
      ],
      "id": "00dd783e-61cd-4b02-aba5-c43d7e259480",
      "name": "Get a row2",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\n\nconst todayItems = items.filter(item => {\n  return item.json.created_at.split('T')[0] === today;\n});\n\nreturn [{\n  json: {\n    requestCount: todayItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        1008
      ],
      "id": "bb22fdb6-9704-4240-8b63-5c30f3f717dd",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9bc8e1be-a76f-45b4-a48b-13887571ff1e",
              "leftValue": "={{ $json.requestCount }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        1008
      ],
      "id": "d9a9d3e7-e356-43ca-854a-46b17ee4fbe2",
      "name": "If5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Daily complaint limit reached. Please try again tomorrow.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        896
      ],
      "id": "89eb7d9f-c98a-437f-a772-a51bcf0184a9",
      "name": "Respond to Webhook11"
    }
  ],
  "pinData": {
    "signup": [
      {
        "json": {
          "headers": {
            "host": "aberaaaa.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.51.1",
            "content-length": "103",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cache-control": "no-cache",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.86.50.139",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d534836097cb296-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "postman-token": "d3b4159e-c14f-4147-bf4a-00c352c0a3d7",
            "x-forwarded-for": "54.86.50.139, 162.158.78.8",
            "x-forwarded-host": "aberaaaa.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-15-595d685d99-sppxl",
            "x-is-trusted": "yes",
            "x-real-ip": "54.86.50.139"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Sara Ahmed",
            "email": "sara.student@example.com",
            "password": "MySecurePass456!"
          },
          "webhookUrl": "https://aberaaaa.app.n8n.cloud/webhook-test/signup",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "aberaaaa.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.51.1",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cache-control": "no-cache",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.86.50.139",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d56bc38c8773b54-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "postman-token": "be9dee61-5395-4a05-9414-9f3a116eb831",
            "x-forwarded-for": "54.86.50.139, 162.158.152.178",
            "x-forwarded-host": "aberaaaa.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-15-595d685d99-nlhjh",
            "x-is-trusted": "yes",
            "x-real-ip": "54.86.50.139"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "How do I submit a complaint?"
          },
          "webhookUrl": "https://aberaaaa.app.n8n.cloud/webhook-test/chatbot",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "To submit a complaint on the ASTU Smart Complaint System, follow these steps:\n\n1. **Log in:** Use your student credentials to log in to the system.\n2. **Select Complaint Category:** Choose the category that best fits your issue (e.g., Academic, Facilities, Administration).\n3. **Fill Complaint Form:** Provide detailed information about your complaint, including date, location, and description.\n4. **Attach Evidence:** Upload any relevant documents or photos if applicable.\n5. **Submit:** Review your complaint and submit it.\n\nAfter submission, you will receive a complaint ID to track its status.\n\nIf you need help with any of these steps, feel free to ask!"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "complain sender": [
      {
        "json": {
          "headers": {
            "host": "aberaaaa.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.51.1",
            "content-length": "379",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjJjZjg5Mzg1LWNmZjYtNGY5Yy1iZGRmLWM1MzkwNWJiMmNjYiIsImVtYWlsIjoic2FyYS5zdHVkZW50QGV4YW1wbGUuY29tIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNzcyMzYzNjg2fQ.-eSUzACFOAZVbp819PxwDZ1CsgkjJzgW7KRc-7r4zok",
            "cache-control": "no-cache",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.86.50.139",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d57a800e9b12015-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryRQbGjVbPrduuCBJl",
            "postman-token": "47f9b1fa-6751-4f7b-abf4-bfc3c4f9a3dc",
            "x-forwarded-for": "54.86.50.139, 172.71.222.209",
            "x-forwarded-host": "aberaaaa.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-15-595d685d99-9snc8",
            "x-is-trusted": "yes",
            "x-real-ip": "54.86.50.139"
          },
          "params": {},
          "query": {},
          "body": {
            "Title": "the door is dooring",
            "description": "dooring like bird",
            "catagory": "infrastracture"
          },
          "webhookUrl": "https://aberaaaa.app.n8n.cloud/webhook-test/submit-complaint",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "signup": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "login": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "my complain reminder": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "admin compliants": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update compliant": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "complain sender": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce31ed33-556d-40b1-85e7-a70e69fc58f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0352cc77f6463cd69e94c9755278c2c616854b35957ecba307365adb22d3d8d6"
  },
  "id": "S90Shy4Nww3CLFaL",
  "tags": []
}
