JWT + backend n8n login and signin
{
  "name": "yene hasab updated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d2749077-e843-4140-91d0-d89881be0349",
      "name": "Webhook",
      "webhookId": "418ef687-e638-46a4-b479-8ec204c9d595"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst name = $input.first().json.body.name;\nconst email = $input.first().json.body.email;\nconst password = $input.first().json.body.password;\n\nconst hash = crypto.createHash('sha256')\n  .update(password)\n  .digest('hex');\n\nreturn [{\n  name,\n  email,\n  password_hash: hash\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a0af3aab-05f8-49f4-831f-545366657d6b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "password_hash",
              "fieldValue": "={{ $json.password_hash }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9d05f93f-f3d8-417e-9035-7805fdce9a2f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{ \n  \"status\": \"user created\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "35c2bdb4-4a07-4e29-bdcc-9a4e6d32a112",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "id": "bae29cb7-29ff-4dc9-a424-61825dc8f292",
      "name": "Webhook1",
      "webhookId": "75021219-c37b-49ff-8dbe-4ffa6599ba5a"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "726c64aa-3c8c-4250-b6cf-f78f14a7ca9a",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"User not found\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        464
      ],
      "id": "a8e2fdb0-9af9-4c26-8223-a3bc452e9337",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get password from Webhook1\nconst password = $('Webhook1').first().json.body.password;\n\n// Convert to SHA256 hash\nconst hash = crypto.createHash('sha256')\n  .update(password)\n  .digest('hex');\n\n// Return only the hashed password\nreturn [{\n  password_hash: hash\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        304
      ],
      "id": "d14b3cfc-6c38-4255-9406-2c08ec63fa6d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0919c5c4-b7ec-4cab-b6cf-e88cebbd902e",
              "leftValue": "={{ $json.password_hash }}",
              "rightValue": "={{ $('Get a row').item.json.password_hash }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "57cf46ea-c388-497f-852b-8f910c990637",
              "leftValue": "={{ $('Get a row').item.json.email }}",
              "rightValue": "={{ $('Webhook1').item.json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        448
      ],
      "id": "73aeff09-e654-4caa-b2a9-09d44b2e34ef",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Login successful\",\n  \"token\": \"{{ $json.token }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        320
      ],
      "id": "ff9ca691-4578-48dc-ab4b-1941bf81220f",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74358e6d-550a-40fa-8b1d-197f46b97b63",
              "leftValue": "={{ $('Get a row').item.json.email }}",
              "rightValue": "={{ $('Webhook1').item.json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "00033f1e-98fe-4194-8d4e-bd0af2da0ede",
              "leftValue": "={{ $json.password_hash }}",
              "rightValue": "={{ $('Get a row').item.json.password_hash }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        304
      ],
      "id": "1bd3e9cd-4d46-4f41-aae8-6e090f7c58bb",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1088,
        208
      ],
      "id": "f33308f2-c867-4236-bad0-b0feb1ee4ee7",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e4dbcf2-556b-45b0-aed2-1f9c6634058b",
              "leftValue": "={{ $('Get a row').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        304
      ],
      "id": "455dfb8c-bba0-43ef-8bf9-5669bbd0192e",
      "name": "If2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-complaint",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        832
      ],
      "id": "90607e99-46e2-4910-8ee2-472169adb50a",
      "name": "Webhook2",
      "webhookId": "9176c8a4-054e-4b94-adea-ecee2a6c8b75"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1472,
        832
      ],
      "id": "aef850b1-9ad9-482c-a85f-078729e4241c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "tableId": "complaints",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.body.title }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.body.category }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.body.description }}"
            },
            {
              "fieldId": "student_id",
              "fieldValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1136,
        832
      ],
      "id": "3724d0b2-6bdd-4e2c-a930-e2f39d079c3d",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get full user from database node\nconst user = $('Get a row').first().json;\n\n// JWT Header\nconst header = Buffer.from(JSON.stringify({\n  alg: \"HS256\",\n  typ: \"JWT\"\n})).toString(\"base64url\");\n\n// JWT Payload\nconst payload = Buffer.from(JSON.stringify({\n  id: user.id,\n  email: user.email,\n  role: user.role,\n  exp: Math.floor(Date.now() / 1000) + (60 * 60)\n})).toString(\"base64url\");\n\n// Signature\nconst signature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\nconst token = `${header}.${payload}.${signature}`;\n\nreturn [{ token }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        320
      ],
      "id": "c482c714-665d-4bad-b0d3-9c0be2864f54",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get token from header\nconst authHeader = $json.headers.authorization;\n\nif (!authHeader) {\n  throw new Error(\"No token provided\");\n}\n\n// Remove \"Bearer \"\nconst token = authHeader.split(\" \")[1];\n\n// Split token into parts\nconst [header, payload, signature] = token.split(\".\");\n\n// Recreate expected signature\nconst expectedSignature = crypto\n  .createHmac(\"sha256\", \"ASTU_SECRET_2026\")\n  .update(`${header}.${payload}`)\n  .digest(\"base64url\");\n\n// Check signature\nif (signature !== expectedSignature) {\n  throw new Error(\"Invalid token\");\n}\n\n// Decode payload\nconst decodedPayload = JSON.parse(\n  Buffer.from(payload, \"base64url\").toString()\n);\n\n// Check expiration\nif (decodedPayload.exp < Math.floor(Date.now() / 1000)) {\n  throw new Error(\"Token expired\");\n}\n\n// DEBUG OUTPUT\nconsole.log(\"Decoded Payload:\", decodedPayload);\n\n// Return both debug info and user_id\nreturn [{\n  user_id: decodedPayload.id,\n \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        832
      ],
      "id": "9e0ba178-4e37-4ff8-8ba4-a606c1736534",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8c92357-1db6-4e26-bc1d-e968c24c933a",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "c0b3bd86-f7bf-4815-a58e-b9d7359f4c1f",
              "name": "body.title",
              "value": "={{ $('Webhook2').item.json.body.title }}",
              "type": "string"
            },
            {
              "id": "58c68e29-9626-4829-b28b-de99ce528a85",
              "name": "body.description",
              "value": "={{ $('Webhook2').item.json.body.description }}",
              "type": "string"
            },
            {
              "id": "9cc70c4d-db6e-458e-9f13-37b1b9fecd8c",
              "name": "body.category",
              "value": "={{ $('Webhook2').item.json.body.category }}",
              "type": "string"
            },
            {
              "id": "196f873c-712c-461b-970f-9dcaf00bc8a1",
              "name": "=status",
              "value": "unseen",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        832
      ],
      "id": "005c044e-322e-4d79-9311-8a0cf8ba6b1a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17faaa7b-ad67-4242-a040-d6fb515c878e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0352cc77f6463cd69e94c9755278c2c616854b35957ecba307365adb22d3d8d6"
  },
  "id": "S90Shy4Nww3CLFaL",
  "tags": []
}
