My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d2749077-e843-4140-91d0-d89881be0349",
      "name": "Webhook",
      "webhookId": "418ef687-e638-46a4-b479-8ec204c9d595"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst name = $input.first().json.body.name;\nconst email = $input.first().json.body.email;\nconst password = $input.first().json.body.password;\n\nconst hash = crypto.createHash('sha256')\n  .update(password)\n  .digest('hex');\n\nreturn [{\n  name,\n  email,\n  password_hash: hash\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "a0af3aab-05f8-49f4-831f-545366657d6b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "password_hash",
              "fieldValue": "={{ $json.password_hash }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9d05f93f-f3d8-417e-9035-7805fdce9a2f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{ \n  \"status\": \"user created\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "35c2bdb4-4a07-4e29-bdcc-9a4e6d32a112",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "id": "bae29cb7-29ff-4dc9-a424-61825dc8f292",
      "name": "Webhook1",
      "webhookId": "75021219-c37b-49ff-8dbe-4ffa6599ba5a"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "726c64aa-3c8c-4250-b6cf-f78f14a7ca9a",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "aAg1PBp3LtLKYiuM",
          "name": "Supabase account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "40a1c105-f691-4e4d-abf7-a713293e4e75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0352cc77f6463cd69e94c9755278c2c616854b35957ecba307365adb22d3d8d6"
  },
  "id": "S90Shy4Nww3CLFaL",
  "tags": []
}